apiVersion: v1
kind: Service
metadata:
  name: javascript-app-service
  labels:
    app: javascript-app
spec:
  type: NodePort
  selector:
    app: javascript-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
    name: http
  sessionAffinity: None